<% provide :meta_title, "#{@inquiry.subject} from #{@inquiry.name}" %>

<% provide :breadcrumbs do %>
  <li><%= link_to 'Inquiries', admin_inquiries_path %></li>
<% end %>

<div class="panel panel-default">

  <div class="panel-heading">
    <%= @inquiry.subject %>
    from <%= @inquiry.name %> (<%= link_to @inquiry.email, "mailto:#{@inquiry.email}", target: :_blank %>)
    <br>
    <span class="text-muted"> 
      <%= short_guid @inquiry %>
      &mdash;
      <%= local_time @inquiry.created_at %>
      (<%= local_time_ago @inquiry.created_at %>)
    </span>
  </div>

  <div class="panel-body">

    <%= simple_format @inquiry.content %>

  </div>

</div>
<% if @inquiries.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      More inquiries from <%= @inquiry.email %>
    </div>


    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="50%">Inquiry</th>
            <th width="50%">Preview</th>
          </tr>
        </thead>
        <tbody>
          <%= render @inquiries %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>