<%= simple_form_for [:admin, @faq_category] do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Back', admin_faq_categories_path, class: 'btn btn-default-o' %>
      <%= f.submit class: 'btn btn-success-o pull-right' %>
    </div>
    <div class="panel-body">
      <%= f.error_notification %>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="m-y-0">FAQ category</h4>
        </div>

        <div class="col-xs-12 col-sm-9">
          <%= f.input :name %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Settings</h4>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :slug %>
          <%= f.input :visible %>
          <%= f.input :active %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to 'Back', admin_faq_categories_path, class: 'btn btn-default-o' %>
      <%= f.submit class: 'btn btn-success-o pull-right' %>
    </div>
  </div>
<% end %>
