<% provide :meta_title, 'Your Kaps' %>

<% provide :page_title do %>
  <div class="kwk-icon kwk-icon-lg">
    <%= svg_kwk("dracula-yellow") %>
  </div>
  Your Kaps
<% end %>

<% provide :page_subtitle do %>
  Remove kaps or use <%= sortable_handle %> to specify priority
<% end %>

<% if current_kaps.is_empty? %>
  <%= render 'checkouts/kwk/carts/empty_cart' %>
<% else %>
  <div id="cart">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-7">
        <div class="panel panel-default">
          <div class="list-group sortable" data-update-url="<%= checkouts_kwk_sort_path %>">
            <%= render partial: 'kwk_line_items/cart_line_item', collection: @line_items, as: :kwk_line_item %>
          </div>
          <div class="panel-footer text-center">
            You only pay for the kaps you win.
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-5">

        <div class="panel panel-default">
          <div class="panel-body">
            <label for="bro_count">Please select the maximum amount of kaps you would like to win.</label>
            <%= select_tag :kap_count, options_for_select([*(1..9)], current_kaps.kap_count), class: 'form-control', data: { remote: true, url: checkouts_kwk_update_count_path, method: :put } %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">How it works</h4>
          </div>

          <div class="list-group">
            <div class="list-group-item">
              <p class="m-y-0">
                <b>1.</b> Add as many kaps as you would like to your kart.
              </p>
            </div>
            <div class="list-group-item">
              <p class="m-y-0">
                <b>2.</b> Use <%= sortable_handle %> to specify the priority of your kaps. (Kaps at the top take priority.)
              </p>

            </div>
            <div class="list-group-item">
              <p class="m-y-0">
                <b>3.</b> Select the maximum amount of kaps you would like to win. (Each sale has a different maximum.)
              </p>
            </div>
            <div class="list-group-item">
              <p class="m-y-0">
                <b>4.</b> Read the sale rules and confirm your details. You will be notified with payment instructions if you win any kaps.
              </p>
            </div>
          </div>

          <div class="panel-footer text-right">
            <%= link_to 'Next', checkouts_kwk_submit_path, class: 'btn btn-success-o' %>
          </div>
        </div>

        <p class="text-center">
          <strong>Need help?</strong>
          <br>
          <%= link_to 'Send us a message', contact_path %> or check out our <%= link_to 'FAQ', help_faqs_path %>.
        </p>
      </div>
    </div>
  </div>
<% end %>