<tr>
  <td><%= bro_variant.name %></td>
  <td><%= bro_variant.submitted %></td>
  <td><%= bro_variant.approved %></td>
  <td class="price"><%= number_to_currency bro_variant.unit_price %></td>
  <td class="price"><%= number_to_currency bro_variant.approved_total_amount %></td>
</tr>