<% provide :meta_title, @product.name %>

<div class="hero text-center">
  <h2 class="m-y-0">
    <%= @product.name %>
  </h2>
  <p class="text-muted">
    in <%= link_to @product.category.name, store_category_path(@product.category) %>
  </p>
</div>

<div class="page-content">
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-md-7 col-lg-5 col-lg-offset-1">

        <p>
          <%= link_to image_tag(@product.image_url(:md), class: 'img-responsive img-rounded'), @product.image_url, class: 'fluidbox', rel: 'group_buy_images' if @product.image? %>
        </p>

        <% if @images.any? %>
          <h4>More Images</h4>
          <div class="row">
            <%= render partial: 'product_images/product_image', collection: @images, as: :product_image %>
          </div>
        <% end %>

      </div>

      <div class="col-xs-12 col-md-5 col-lg-5">

        <% if @product.content.blank? %>
          <p class="text-muted">
            <em>There is no description for this product yet.</em>
          </p>
        <% else %>
          <%= render_markdown @product.content %>
        <% end %>

        <%= form_tag line_items_path, remote: true do |f| %>
          <%= hidden_field_tag :product_id, @product.id %>
          <% if @variants.any? %>
              <%= render @variants %>
          <% else %>
            <p>
              <em>Sorry! There are no options are available for this product right now.</em>
            </p>
          <% end %>

          <div class="row">
            <div class="col-xs-10">
              <% if @product.out_of_stock? %>
                <%= link_to 'Sold out', '#/', class: 'btn btn-default-o disabled' %>
              <% else %>
                <div class="row">
                  <div class="col-xs-6">
                    <%= select_tag :quantity, options_for_select(1..20), { class: "form-control" } %>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <%= submit_tag 'Add to Cart', class: 'btn btn-success-o', data: { 'loading-text' => 'Adding...', toggle: :loading } %>
                    </div>
                  </div>
                </div>
                <%= content_tag :span, nil, id: dom_id(@product, :notifications) %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>

</div>

<% if @similar_products.any? %>
  <div class="page-content">
    <div class="container">
      <h4>Similar Products</h4>
      <div class="row">
        <%= render @similar_products %>
      </div>
    </div>
  </div>
<% end %>
