<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/ascii' %>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body id="fulfillment_invoice">
    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/javascripts' %>
  </body>
</html>