<%= simple_form_for @user, url: registrations_path do |f| %>
  <div class="panel panel-default">

    <div class="panel-body">
      <%= f.error_notification %>

      <%= f.input :email %>
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>

    <div class="panel-body">
      By clicking on "Create an account" below, you are agreeing to the <%= link_to 'Terms of Service', terms_path %> and the <%= link_to 'Privacy Policy', privacy_path %>.
    </div>

    <div class="panel-footer text-right">
      <%= f.submit 'Create an account', class: 'btn btn-primary-o' %>
    </div>

  </div>
<% end %>