<%= simple_form_for [:admin, @group_buy, @micropost] do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Back', admin_group_buy_products_path(@group_buy), class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary-o pull-right' %>
    </div>
    
    <div class="panel-body">
      <%= f.error_notification %>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Content</h4>
          <p>Micropost content.</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :content, as: :text, input_html: { rows: 8 } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Published at</h4>
          <p>The date displayed next to the micropost.</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :published_at, wrapper: :horizontal_select_date %>
        </div>
      </div>
    </div>


    <div class="panel-footer">
      <%= link_to 'Back', admin_group_buy_products_path(@group_buy), class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary-o pull-right' %>
    </div>
  </div>
<% end %>
