<%= content_tag_for :tr, micropost do %>
  <td>
    <%= render_markdown micropost.content %>
  </td>
  <td>
    <%= micropost.user.username %>
  </td>
  <td>
    <%= local_time micropost.published_at %>
  </td>
  <td>
    <%= link_to icon("times"), admin_group_buy_micropost_path(micropost.group_buy, micropost), class: "btn btn-xs btn-danger pull-right", remote: true, method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to icon('pencil', 'Details'), edit_admin_group_buy_micropost_path(micropost.group_buy, micropost), class: 'btn btn-xs btn-default' %>
  </td>
<% end %>
