

  <div class="radio">
    <label>
      <%= radio_button_tag :variant_id, variant.id, checked: true %>
      <span class="price"><%= number_to_currency variant.current_price %></span>

      <% if !variant.in_stock? %>
        <span class="label label-danger">OUT OF STOCK</span>
      <% else %>
        <% if variant.stock.present? %>
          <em class="text-muted"><%= variant.stock %> in stock</em>
        <% end %>

        <% if variant.limit.present? %>
          <em class="text-muted">
            <%= raw("&mdash;") if variant.stock.present? %>
            Limit <%= variant.limit %> per order
          </em>
        <% end %>
      <% end %>

      <br>

      <%= variant.name %>

    </label>
  </div>
