<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Invasion - Bro Caps &mdash; Presented by [CTRL]ALT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="#04fe1c">
    <%= stylesheet_link_tag 'brocaps/invasion', media: 'all' %>
  </head>
  <body class="invasion">
    <%= render 'layouts/notifications' %>

    <div class="container">
      <h3 class="m-y-0 bebas">B.R.O. - ISSUE #1:</h3>

      <div class="logo">
        <%= image_tag "invasion/text_invasion.png", class: "img-responsive center-block" %>
      </div>
<h4 class="m-t-0">The year is 2141.</h4>

<p>Our planet has been at peace for over a century. This has been largely in part due to the Unification Accord between the world’s superpowers. After a century long struggle to bring the war on terror to an end, there now can be peace.</p>

<p>Under the Unification Accord, the world leaders have formed a peace-keeping initiative. Maintaining a minimal military presence in member countries in the form of specialized groups, ensures stability. One such group, B.R.O. (Battle Response Offensive), has been monitoring threats not only across our planet, but outside of our own galaxy. </p>

<p>We have made major advancements in the exploration of space. Sending probes to the farthest reaches of our galaxy. With the goal of setting up early warning systems from catastrophic threats, we created a network of defensive satellites, as well as probes on planets capable of supporting life.</p>

<p>Our search for intelligent life has been unfruitful, even with our bounding leaps in technology, extending our ability to scan planets in neighboring galaxies. The years of sending out radio waves and transmitting information light years away has gone completely unnoticed… until today.</p>

<p>Our planetary defenses never picked up on the threat. It was like a shadow creeping into the atmosphere, darkening the sky. We scrambled to meet the threat head-on, but our first line of defense, Guardian Battalion, was obliterated. Their armor ripped to shreds by the invading forces weaponry.</p>

<p>In my 22 years of military service, I never thought there would come a day when I would be helpless to protect the people of this planet. For now, there is no time to reflect on the matter. We must try to re-establish communications with the remaining coalition forces.</p>

<p>The last video feed from our surveillance in Los Angeles showed a number of invading forces destroying any resistance. It wasn’t clear as to what their intentions were beyond this. The only communications were coming in via Morse code, informing us that nuclear power plants and military bases were under siege and overrun. Casualties are rising by the thousands. </p>

<p>With our main forces down and no way of communicating, I can only put my chips down on one last bet...</p>



<h4 style="margin-top: 50px;">Los Angeles Outskirts - 1400 hours</h4>

<p>Peering at the chaos from the shadows, we assessed the threat to be of alien origin. This technology is beyond our comprehension. The devastation wrought by their forces is unlike anything we have faced. </p>

<p>Communications are out, save for the comm links with other Reaper Squadron members. We have split up and spread out in order to obtain as much information as possible, while remaining undetected by the enemy. They have deployed ground units that are doing some sort of scanning, covering large amounts of ground rapidly.</p>

<p>The streets are littered with bodies, and the foul stench of death pierces the night sky. The city is burning, and the sound of screams have silenced. The drones emit an eerie mechanical whine as they move in their search. We are not certain how close we can get without being detected, but we need to move on and attempt to try and gather more data on these drones, and possibly disable one.</p>

<p>An opportunity presents itself as a drone moves towards our location. We set up for an attack from multiple positions, so as not to be singled out. As the rest of the squad moves into position, we prepare to fire. It’s mechanical hum becomes louder, even felt in the ground. I signal to the squad, and we unleash hell upon the drone. As the pulses from our energy rifles impact with the drone, it responds with an immediate volley of projectiles all around us. We hear a sharp cry in pain over our comm links. Lt. Leecham’s vitals fade from our scanners.</p>

<p>We quickly scramble to new positions and engage our stealth systems. The drone moves on our positions, scanning rapidly. It’s hull is torn open in several areas, billowing smoke as it moves. The damage seems to be considerable, but does not stop its search. Our stealth systems seem to be effective against the drone… for the time being. It begins to move towards Lt. Leecham’s position hastily. I can’t let it take Leecham, but we risk losing more of our team if we reveal our locations. As we begin to move towards the drone in hopes of coming up with a plan to retrieve him, we hear the hums of more drones approaching...</p>

      <p>
        <em>
          To be continued in the next issue of B.R.O.
        </em>
      </p>

      <p class="text-center" style="margin: 50px 0;">
        <%= link_to "CONTINUE", invasion_buy_path, class: "btn bebas" %>
      </p>

      <p class="text-center">
        <small>Copyright 2016 &copy; Bro Caps</small>
      </p>

    </div>

    <%= render 'layouts/javascripts' %>
    <script src="https://use.typekit.net/tkk6rza.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>