<tr>
  <td><%= kwk_variant.name %></td>
  <td><%= kwk_variant.submitted %></td>
  <td><%= kwk_variant.approved %></td>
  <td class="price"><%= number_to_currency kwk_variant.unit_price %></td>
  <td class="price"><%= number_to_currency kwk_variant.approved_total_amount %></td>
</tr>