<%= content_tag_for :div, kwk_order_note, class: 'list-group-item' do %>
  <p class="list-group-item-text">
    <%= link_to icon('times'), admin_kwk_note_path(kwk_order_note), remote: true, method: :delete, class: 'text-danger pull-right' %>
    <%= raw kwk_order_note.content %>
  </p>
  <small class="text-muted">
    <%= icon 'clock-o', local_time_ago(kwk_order_note.created_at) %>
    &mdash;
    <%= kwk_order_note.user.username %>
  </small>
<% end %>