<div class="list-group-item">
  <p>
    <%= image_tag comment.user.avatar_url(:sm), height: 25, class: "img-rounded" %>
    <strong><%= comment.user.username || comment.user.email %></strong>
    <small class="text-muted">
      <%= timeago comment.created_at %>
      <%= icon("envelope") if comment.replied_by_email? %>
    </small>

  </p>

  <%= render_markdown comment.content %>

  <div class="reply-signature">
    <%= render_markdown comment.user.signature if comment.user.admin? %>
  </div>

</div>