<%= simple_form_for [:admin, @order, @tracking_note], remote: true do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">
        New tracking note for <%= short_guid @order %>
      </h4>
    </div>

    <div class="modal-body">
      <%= f.input :tracking_number %>
      <%= f.input :notes, placeholder: 'Included an extra...', label: false, input_html: { rows: 6 } %>
      <span class="text-muted">This message will be included in the tracking email.</span>
    </div>

    <div class="modal-footer text-right">
      <%= f.submit 'Add Tracking Note', class: 'btn btn-primary-o' %>
    </div>
  </div>
<% end %>
