<% provide :meta_title, 'Products' %>

<% provide :breadcrumbs do %>
  <li><%= link_to 'Group Buys', admin_group_buys_path %></li>
  <li><%= link_to @group_buy.name, admin_group_buy_path(@group_buy) %></li>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to icon('plus', 'New Product'), new_admin_group_buy_product_path(@group_buy), class: 'btn btn-primary-o' %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="30%">Name</th>
          <th width="20%">Price</th>
          <th width="50%">Actions</th>
        </tr>
      </thead>
      <tbody class="sortable-table" data-update-url="<%= admin_sort_path(class_name: 'product') %>">
        <%= render @products %>
      </tbody>
    </table>
  </div>
</div>