<% provide :meta_title, @kwk_sale.name %>

<% cache ["kwk_sales", @kwk_sale, "header"] do %>
  <div class="hero text-center">
    <h2 class="m-y-0"><%= @kwk_sale.name %></h2>
    <h4>
      <%= content_tag :span, timeago(@kwk_sale.deadline), class: (@kwk_sale.ongoing? ? 'text-success' : 'text-danger') %>
    </h4>
  </div>
<% end %>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12<%= " col-md-8" if @kwk_sale.ongoing? %>">
          <% if @kwk_sale.past_deadline? %>
            <div class="alert alert-error text-center">
              This sale ended on <%= local_time @kwk_sale.deadline %> and is no longer available.
            </div>
          <% end %>
          
          <% cache ["kwk_sales", @kwk_sale, "details"] do %>
            <div class="panel panel-default">
              <% if @kwk_sale.banner? %>
                      <%= image_tag @kwk_sale.banner_url, class: 'img-responsive' %>
              <% end %>
              <div class="panel-body">
                <%= render_markdown @kwk_sale.content %>
              </div>
              <% cache ["kwk_sales", @kwk_sale, @products] do %>
                <%= render @products, kwk_sale: @kwk_sale, cached: true %>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if @kwk_sale.ongoing? %>
          <div class="col-xs-12 col-md-4 hidden-xs">
            <div class="panel panel-default" id="quick_kwk_cart">
              <div class="list-group sortable" data-update-url="<%= checkouts_kwk_sort_path %>">
                <% if current_kaps.line_items.any? %>
                  <%= render partial: 'kwk_line_items/cart_line_item', collection: current_kaps.line_items.sorted, as: :kwk_line_item %>
                <% else %>
                  <div class="list-group-item text-center">Your kart is empty!</div>
                <% end %>
              </div>
              <div class="panel-footer text-center">
                <%= link_to "Your Kaps", checkouts_kwk_path, class: "btn btn-block btn-primary-o" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>