<% provide :meta_title, 'Users' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
        <%= form_tag admin_users_url, method: :get, class: 'form-inline' do %>          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon" data-toggle="tooltip" data-original-title="Search for anything"><%= icon 'search' %></div>
              <%= text_field_tag :keyword, params[:keyword], class: 'form-control input-sm', placeholder: 'Search for anything' %>
            </div>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to icon('times', 'Reset'), admin_users_path if params[:keyword].present? %>
      </li>
    </ul>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="40%">Username (Email)</th>
          <th width="30%">Joined</th>
          <th width="30%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @users %>