<%= content_tag :div, class: "list-group-item", id: dom_id(line_item) do %>
  
    <div class="media m-y-0">

      <div class="media-left">
        <%= image_tag line_item.image_url(:sm), width: "64px", class: "media-object" %>
      </div>

      <div class="media-body">
        <h5 class="m-y-0"><%= line_item.product_name %></h5>
        x<%= line_item.quantity %> &mdash; <%= line_item.variant_name %>
        <br>

        <span class="price">
          <%= number_to_currency line_item.unit_price %>
        </span>
      </div>
    </div>
<% end %>


