<%= content_tag_for :tr, bro_product do %>
  <td>
    <%= sortable_handle %>
    <%= link_to bro_product.name, edit_admin_bro_sale_product_path(bro_product.bro_sale, bro_product) %>
  </td>
  <td class="price">
    <%= product_price_range bro_product %>
  </td>
  <td>
    <%= link_to icon("times"), admin_bro_sale_product_path(bro_product.bro_sale, bro_product), class: "btn btn-xs btn-danger pull-right", remote: true, method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to icon("pencil", "Details"), edit_admin_bro_sale_product_path(bro_product.bro_sale, bro_product), class: "btn btn-xs btn-default-o" %>
    <%= link_to icon("cubes", "Variants"), admin_bro_sale_product_variants_path(bro_product.bro_sale, bro_product), class: "btn btn-xs btn-default-o" %>
    <%= link_to icon("picture-o", "Images"), admin_bro_sale_product_images_path(bro_product.bro_sale, bro_product), class: "btn btn-xs btn-default-o" %>
  </td>
<% end %>
