<%= simple_form_for [:admin, @bro_sale, @product], url: (@product.id.present? ? admin_bro_sale_product_path(@bro_sale, @product) : admin_bro_sale_products_path(@bro_sale)) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Back', admin_bro_sale_products_path(@bro_sale), class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary-o pull-right' %>
    </div>
    
    <div class="panel-body">
      <%= f.error_notification %>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Details</h4>
          <p>Product name.</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :name %>
          <%= f.input :caption %>
          <%= f.input :summary %>
          <%= f.input :primary_color %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Images</h4>
          <p>Featured product image.</p>
          <%= f.input :remove_image, as: :boolean if @product.image? %>
          <%= f.input :remove_thumbnail, as: :boolean if @product.thumbnail? %>
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= f.input :image, as: :file %>
              
              <%= f.hidden_field :image_cache %>
              <%= content_tag(:p, image_tag(@product.image_url(:sm), class: "img-responsive", width: 100)) if @product.image? %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= f.input :thumbnail, as: :file %>
              
              <%= f.hidden_field :thumbnail_cache %>
              <%= content_tag(:p, image_tag(@product.thumbnail_url, class: "img-responsive", width: 100)) if @product.thumbnail? %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= f.input :banner, as: :file %>
              
              <%= f.hidden_field :banner_cache %>
              <%= content_tag(:p, image_tag(@product.banner_url, class: "img-responsive", width: 100)) if @product.banner? %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Content</h4>
          <p>Product description.</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :content, as: :text, input_html: { rows: 16 } %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h3 class="title">URL</h3>
          <p>Customize the slug (url).</p>

        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :slug %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4 class="title">Settings</h4>
          <p>Hide this product from everyone.</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= f.input :visible %>
          <%= f.input :active %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to 'Back', admin_bro_sale_products_path(@bro_sale), class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary-o pull-right' %>
    </div>
  </div>
<% end %>
