<% if current_user %>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= image_tag current_user.avatar_url(:sm), class: "img-rounded", height: 25 %>
      <%= current_user.username %>
      <b class="caret"></b>
    </a>

    <div class="dropdown-menu dropdown-menu-right dropdown-list-group">
      <%= link_to account_help_support_requests_path, class: 'list-group-item' do %>
        <div class="cai-bouy dracula-red"></div>
        Support
      <% end %>
      <%= link_to account_history_orders_path, class: 'list-group-item' do %>
        <div class="cai-orders dracula-green"></div>
        Orders
      <% end %>
      <%= link_to account_history_bro_orders_path, class: 'list-group-item' do %>
        <div class="cai-fist dracula-purple"></div>
        Bro Caps
      <% end %>
      <%= link_to account_history_kwk_orders_path, class: 'list-group-item' do %>
        <div class="kwk-icon">
          <svg class="dracula-yellow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 360 360" xml:space="preserve">
          <path d="M336.2,118.3c-6.1-46.8-2.8-26.4-35.8-68.8C267.4,7.2,219.9,11.6,180,7.7C110.8,0.9,29.7,77.6,30.3,86.9
            c0.6,9.4,1.1,44.6-17.6,68.8c-18.7,24.2-3.3,54.5,9.9,67.1c13.2,12.7,26.4,2.2,19.8-16c-6.6-18.2-12.7-32.5,18.7-32.5
            s29.7,35.8,29.7,58.9c0,23.1,5,20.9,13.8,18.2s8.3-1.7,5-18.7c-3.3-17.1,23.1-36.3,61.6-36.3c38.5,0,67.1,7.7,69.3,31.9
            c2.2,24.2,8.8,18.7,20.9,18.7c12.1,0-11.6-60,31.4-71c42.9-11,30.8,19.8,26.4,20.4c-4.4,0.6-7.7,19.3,7.7,20.9
            c15.4,1.7,23.1-20.9,28.6-42.9C360.9,152.4,342.2,165.1,336.2,118.3z M98.5,121c-45.1,4.4-54.5,5-52.3-16.5
            c2.2-21.5,7.3-31.2,25.9-35.2c19.8-4.3,64.4-16,63.8,5.5C135.4,96.3,143.6,116.6,98.5,121z M209.6,132.6c-5,33-16,10.5-33.6,7.7
            c-17.6-2.8-29.2,23.1-25.3-16.8s25.3-36,25.3-36C187.6,86.9,214.6,99.6,209.6,132.6z M292.2,119.4c-29.7,3.3-64.9,3.3-72.6-34.7
            S263,66,263,66s51.2,15.8,52.3,26.9S321.9,116.1,292.2,119.4z"/>
          <path id="XMLID_5_" d="M170.4,244.3c30.1-2.9,56.1,6.1,72.6,19.3c16.5,13.2,9.7,20.4,20.5,20.4c10.8,0,13-17.6,10.3-47.9
            c-2.8-30.3,5-33.6,14.3-33.6c9.4,0,16,19.3,11,50.6c-5,31.4,13.8,33.6,1.7,49c-12.1,15.4-11.2,53.4-63.1,40.7
            c-51.9-12.7-47.3-19.8-91.7-7.2c-44.4,12.7-77.9,30.3-82.9-2.8s2.8-80.9-5-104s3.3-28.1,9.4-26.4s16,5.5,13.2,42.9
            s2.8,37.4,12.1,35.2C102.2,278.4,79.5,253.1,170.4,244.3z"/>
          </svg>
        </div>
        Kult Worship Kaps
      <% end %>
      <div class="list-group-item text-center">
        <%= current_user.email %>
        <br>
        <small>
          <%= link_to 'Account', account_info_path %>
          &middot;
          <%= link_to 'Log out', logout_path %>
        </small>
      </div>
    </div>
  </li>

<% else %>

  <li><%= link_to 'Sign up', signup_path %></li>
  <li><%= link_to 'Log in', login_path %></li>

<% end %>